.card {
    max-width: 500px;
    height: 180px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    color: black;
}

.card img{
    width: 180px;
    height: 140px;
    padding: 10px;
    border-radius: 25px;
    object-fit: cover;
}
.card .content{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.content .top h2{
    font-size: 18px;
    font-weight: bold;
    color:black;
}

.content .top span{
    font-size: 12px;
    color: #4caf50;
    background-color: #f0f9f4;
    padding: 2px 5px;
    border-radius: 5px;
    
}

.card .bottom{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 10px;
}

.card .bottom .price{
    font-size: 18px;
    font-weight: bold;
    color:rgb(61, 102, 238);
}

.card .bottom button{
    background-color: rgb(61, 102, 238);
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.card p{
    font-size: 14px;
    color: rgb(166, 166, 166);
    padding: 0;
    text-wrap: wrap;
    margin: 8px 0;
    line-height: 1.4;
}